.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "header"
                       "body"
                       "footer";
  grid-template-rows: auto 1fr auto;

  &__header {
    grid-area: header;
    height: 60px;
    background-color: $violet-pop;
  }

  &__body {
    grid-area: body;
    overflow: hidden;
    overflow-y: auto;
  }

  &__footer {
    grid-area: footer;
    height: 60px;
  }

  &__log-out {
    &,
    &:hover {
      display: block;
      text-decoration: none;
      color: $violet-faint;
      padding: 15px;
      line-height: 30px;
    }
  }
}
